iptvrecord.exe
*.ts
*.mp4
.idea/
.vscode/
config.json
logs/
ffmpeg/ffmpeg.exe
gui/ffmpeg/ffmpeg.exe
tools/commercialcleaner/CommercialCleaner.exe
gui/build/
gui/_dist_stage/
gui/iptv-recorder.spec
gui/iptv-gui.spec
gui/iptv-gui.exe
gui/iptv-recorder.exe
gui/iptv-recorder-built.exe
