iptvrecord.exe
*.ts
*.mp4
.idea/
.vscode/
config.json
logs/
gui/ffmpeg/ffmpeg.exe
gui/ffmpeg/ffprobe.exe
gui/tools/ccextractor/ccextractor.exe
tools/ccextractor/ccextractor.exe
gui/build/
gui/_dist_stage/
gui/iptv-dvr.spec
gui/iptv-gui.spec
gui/iptv-gui.exe
gui/iptv-dvr.exe
gui/iptv-dvr-built.exe
__pycache__/
*.pyc
